html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
  height: 70rem;
  width: 112rem;
  /* border: 2px red solid; */
}

@media only screen and (min-width: 992px) {
  html,
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 550px) {
  html,
  body {
    font-size: 8px;
  }
}

body {
  display: block;
  margin: 0px;
  background-color: #fff;
}

.homepage-container {
  background-color: black;
}

.slider-wrapper {
  position: relative;
  /* border: 2px red solid; */
  height: 70rem;
  width: 112rem;
  margin: 0 auto; /**/
}

.slider {
  height: 70rem;
  width: 112rem;
  display: flex;
  aspect-ratio: 16/9;
  /* border: 2px green solid; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider img {
  width: 112.5rem;
  height: 70rem;
  display: block;
  opacity: 45%;
}

.slide1-content {
  flex: 1 0 112rem;
  scroll-snap-align: start;
  overflow: hidden;
  object-fit: cover;
}

.slide2-content {
  flex: 1 0 112rem;
  scroll-snap-align: start;
  overflow: hidden;
  object-fit: cover;
}

.slide3-content {
  flex: 1 0 112rem;
  scroll-snap-align: start;
  overflow: hidden;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 2.6rem;
  height: 0.35rem;
  color: white;
  background-color: white;
  opacity: 0.6;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider-nav a:active {
  opacity: 1;
  background-color: red;
}

.btn-menu {
  cursor: pointer;
  height: 2.8rem;
  width: 2.8rem;
  background-color: transparent;
  z-index: 5;
  opacity: 1;
  margin: 2.5%;
  margin-left: 7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 520;
  position: absolute;
  top: 4rem;
  transform: translate(-50%, -50%);
}

.btn-menu img {
  max-height: 100%;
  max-width: 100%;
}

.btn-menu:hover {
  background-color: #484848;
}

.red-strip {
  display: inline;
  height: 0.3rem;
  width: 4rem;
  background-color: #e31d3b;
  border: red solid;
  z-index: 1;
  margin: 2.2rem;
  margin-left: 18rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 520;
  position: absolute;
  top: 25rem;
  transform: translate(-50%, -50%);
}

.short-heading {
  font-size: 1.3rem;
  padding-left: 25rem;
  /* padding-top: -30rem; */
  margin: 2.5rem;
  margin-left: 30rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 520;
  color: rgb(172, 172, 172);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  position: absolute;
  top: 18rem;
  left: 2.5rem;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.main-heading {
  width: 50rem;
  font-size: 6rem;
  text-align: left;
  padding-left: 25rem;
  margin: 3rem;
  /* margin-left: 33vw; */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  opacity: 80%;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  position: absolute;
  top: 32rem;
  z-index: 1;
  left: 36.5rem;
  transform: translate(-50%, -50%);
}
